<odoo>
    <data>
        <menuitem id="menu_import_pricelist_root"
                  name="Pricelist Tools"
                  parent="sale.product_menu_catalog"
                  action="action_import_pricelist"
                  sequence="100"/>

<!--        <menuitem id="menu_import_pricelist_action"-->
<!--                  name="Import Pricelist from Excel"-->
<!--                  parent="menu_import_pricelist_root"-->
<!--                  action="action_import_pricelist"-->
<!--                  sequence="10"/>-->
    </data>
</odoo>
